{% extends 'base.html' %}
{% block title %}Client Form{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1>George Alarm test form</h1>
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} </p>
            <form method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form.as_p }}
                        <table>
                            {{ formset }}
                        </table>
                    {% endfor %}
                {% else %}
                    {{ wizard.form.as_p }}
                {% endif %}
                
                <div class="form-group">
                    <input class="form-control" type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}