{% extends 'base.html' %}
{% block body %}
<h1>tests</h1>


    <ul>
        {% for inspection in inspection_list %}
            
            <li><a href="{% url 'test_form:test_form_wizard_view' slug=inspection.slug %}">New test with data from test date: {{ inspection.inspection_date }}</a></li>
            <li><a href="{% url 'test_form:new-address-form' slug=inspection.slug %}">New test (no data)</a></li>
            
        {% empty %}
            <li>No tests yet.</li>
        {% endfor %}
    </ul>

{% endblock %}